language: ruby
rbenv:
  - 2.4.0
env:
  - DB=postgresql
before_script:
  - psql -c "create user benson with password '23818213ljh';" -U postgres
  - psql -c 'create database sample_app_test owner benson;' -U postgres
