language: ruby
rbenv:
  - 2.4.0
env:
  - DB=postgresql
before_script:
  - psql -c 'create database sample_app_production;' -U postgres
  - psql -c "CREATE USER benson WITH PASSWORD '23818213ljh';" -U postgres
